
@page "/listadoExpedientes"
@inject CasoDeUsoExpedienteConsultaTodos CasoDeUsoExpedienteConsultaTodos
@inject CasoDeUsoExpedienteBaja CasoDeUsoExpedienteBaja
@inject NavigationManager Navegador
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>
<body>
    <DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>
    <table class="table">
   <thead>
       <tr>
           <th>ID</th>
           <th>CARATULA</th>
           <th>FECHA DE CREACION</th>
           <th>ULTIMA MODIFICACION</th>
           <th>ID DE USUARIO ULTIMA MODIFICACION</th>
           <th>ESTADO</th>
           <th>TRAMITES</th>

       </tr>
   </thead>
   <tbody>
       @foreach (var expediente in Expediente)
       {
           <tr>
                    <td>@expediente.Id</td>
                    <td>@expediente.Caratula</td>
                    <td>@expediente.FechaCreacion</td>
                    <td>@expediente.UltimaModificacion</td>
                    <td>@expediente.IdUsuarioUltimaModificacion</td>
                    <td>@expediente.Estado</td>
                    <td>@expediente.Tramites</td>
               
               <td>
                    <button class="btn btn-primary" @onclick="() => ModificarExpediente(expediente)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(expediente)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
           </tr>
       }
   </tbody>
</table>
</body>
</html>
@code{
    List<Expediente> _expedientes = new();
        protected override void OnInitialized()
        {
        _expedientes = CasoDeUsoExpedienteConsultaTodos.Ejecutar();
        }
    DialogoConfirmacion dialogo = null!;
    Expediente? _ExpedienteParaEliminar = null;
    void ModificarExpediente(Expediente Titu)
        {
             Navegador.NavigateTo($"expediente/{Titu.Id}");
        }
    private void ConfirmarEliminacion(Expediente titu)
    {
        _ExpedienteParaEliminar = titu;
        @* dialogo.Mensaje = $"¿Desea eliminar al expediente con id {titu.Id}?"; *@
        dialogo.Mostrar($"¿Desea eliminar al expediente con id {titu.Id}?");
    }
    private void Eliminar()
    {
        if (_ExpedienteParaEliminar != null)
        {
            CasoDeUsoExpedienteBaja.Ejecutar(_ExpedienteParaEliminar);
            _expedientes = CasoDeUsoExpedienteConsultaTodos.Ejecutar();
        }
    }
}